* {
    background-color: tan;
}
header {
    font-family: 'Courier New', Courier, monospace;
    position:relative;
    text-align: center;
    font-size: 20px;
    word-spacing: 15px;
    border-bottom: black solid medium;
  }
  header h1 {
    border-bottom: black solid medium;
    padding-bottom: 10px;

  }

header img {
    display:inline;
  width: 300px;
  height:auto;
}

header nav{
    display: flex;
    justify-content: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: large ;
    font-weight: bold;
    word-spacing: normal;
  }

header nav li {
   float:left ;
   display: inline;
    
}
header nav li a {
    display: block;
    color: black;
    padding: 14px 16px;
    text-decoration: none;
  }

header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
  }


header nav :hover {
    color: white;

}